*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
}
.category{
    padding: 30px 10px;
    border: none;
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(229, 219, 219);
}
.category-card{
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.card-title{
    font-size: 18px;
}


.wrapper{
    padding: 15px;
    border: none;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.wrapper-box{
    width: 280px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(243, 240, 240);
}
.box-img{
    width: 250px;
    height: 190px;
    
}
.box-title{
    margin-bottom: 10px;
    font-size: 18px;

}
.box-price{
    font-size: 18px;
}
.box-address{
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Courier New';


}
.box-date{
    font-size: 14px;
    font-family: 'Courier New';

}
